/* General Container for Org Chart */
.org-chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  font-family: 'Barlow Condensed', sans-serif;
}

/* Header Styling */
h1 {
  font-size: 50px;
  font-weight: bold;
  color: #241F21;
  margin-bottom: 70px;
  text-align: center;
}

.tree{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Node Box Styling */
.node-box {
  background-color: #FFFFFF;
  border: 3px solid #89002A;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  min-width: 400px;
  max-width: 600px;
  font-size: 18px;
  line-height: 1.5;
}

/* Hover effect on nodes */
.node-box:hover {
   /* Inverts colors */
  cursor: pointer;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Node Name Text Styling */
.node-text-name {
  font-size: 40px;
  font-weight: bold;
  color: #E3194B;
}

.node-text-subordinates{
  font-size: 25px;
  font-weight: bold;
  color: #4F4F4F;
}

/* Node Designation Text Styling */
.node-text-designation {
  font-size: 35px;
  color: #89002A;
  font-weight: 600;
  margin-top: 5px;
}

/* Lines connecting nodes */
.react-org-line {
  background-color: #F59C2D;
  border-radius: 10px;
  height: 2px;
}

/* Adjust spacing between nodes for better readability */
.treeNode__parent {
  margin-bottom: 40px;
}

.treeNode__children {
  margin-top: 40px;
}
.node-photo-container {
  width: 200px;
  height: 200px;
  margin-right: 10px;
  overflow: hidden;
  
  display: inline-block;
}

.node-photo {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the entire container */
  border-radius:50%; /* Makes the image circular */
}


